.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
  }
  
  .slides {
    display: flex;
    overflow: hidden;
  }
  
  img {
    width: 100%;
    display: block;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  /* Estilos para toda la página */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
  }
  
  .slides {
    display: flex;
    overflow: hidden;
  }
  
  img {
    width: 100%;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  